*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --clr-primary: darkred;
    --clr-secondary: palegreen;
    --font: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font);
}
